body {
    text-align: center;
    font-size: 16px;
    font-family: 'Antic Slab', serif;
}

#gameArea {
    display: inline;
    text-align: center;
}

#scoreBox {
    display: none;
    width: 300px;
    margin: 0 auto;
}

.newGame {
    display: block;
    margin: 10px auto;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #0000FF;
    padding: 5px;
    border: 1px #0000FF solid;
    border-radius: 25px;
}

#gameSpeed {
    display: inline-block;
    width: 100%;
}

.gameOptions {
    padding: 10px;
    margin: 20px auto;
    width: 50%;
    background-color: #f7f7f7;
}

.optionText {
    font-size: 18px;
}

h1 {
    font-size: 26px;
    text-align: center;
    margin: 20px auto;
}